/* line 51, ../sass/_grid.scss */
body {
  width: 100%;
  *zoom: 1;
}
/* line 37, ../sass/_grid.scss */
body:before, body:after {
  content: "";
  display: table;
}
/* line 41, ../sass/_grid.scss */
body:after {
  clear: both;
}
